#SPDX-License-Identifier: MIT-0
---
- name: Install prerequisites
  ansible.builtin.apt:
    name:
      - git
      - stow
    state: present

- name: Clone dotfiles repository
  become_user: "{{ dotfiles_owner }}"
  ansible.builtin.git:
    repo: "{{ dotfiles_repo }}"
    dest: "{{ dotfiles_dest }}"

- name: Run stow
  become_user: "{{ dotfiles_owner }}"
  ansible.builtin.command:
    cmd: "stow . --adopt --verbose=2"
    chdir: "{{ dotfiles_dest }}"

# Reset dotfiles repository after running stow
# with --adopt
- name: Reset dotfiles repository
  become_user: "{{ dotfiles_owner }}"
  ansible.builtin.command:
    cmd: "git reset --hard"
    chdir: "{{ dotfiles_dest }}"
